/*
	-moz-border-radius: 2px; 
   -webkit-border-radius: 2px; 
   	border-radius: 2px;
   	
   	-webkit-box-shadow: 0px 0px 0px 5px #a0eaff;
	-moz-box-shadow: 0px 0px 0px 5px #a0eaff;
	box-shadow: 0px 0px 0px 5px #a0eaff; 
*/
body {
	margin:0;
	padding:0;
	text-align: center;
	font-family: Arial;
	background:url(inflicted.png) 0 0 repeat;
	color:#fff;
}
h1 {
	font-family: Arial;
	font-size: 20px;	
	text-align: center;
	margin:10px auto 5px;
}
h3 {
	font-size:11px;
	padding:0;
	margin:5px 0;
}
header {
	width:100%;
	height:80px;
	float:left;
	clear:both;
	margin:10px auto 20px;
}
p {
	text-align:left;
}
a, a:visited, a:link, a:hover {
	color:#fff;
}
header p {
	margin:2px 0;
}
div > section {
	width:800px;
	margin:10px auto;
	text-align:center;
	clear:both;
	padding:10px 10px;
	background: rgba(255,255,255,0.05);
}
#box {
	width:360px;
	height:180px;
	margin:10px auto;
	padding:10px 20px;
}
#box p {
	color:#000;
	text-align:center;
}

header p {
	text-align:center;
}
#key, #key2, #key3, #key4 {
	width:400px;
}
span.example {
	color:#fff;
	text-transform:uppercase;
	padding:2px 4px;
	margin:0 6px 0 0;
}
#button_wrap {
	padding:20px 50px;
	margin:10px auto;
	width:300px;
}
footer {
	display:none;
}
footer > div#console {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:100px;
	font-size:12px;
	color:aqua;
	background: #000;
	padding:5px 10px;
	line-height:15px;
	font-family: Courier;
}
footer > div#console > u {
	color:#fff;
}
.shiny {
	background: #f2f9fe;
	background: -moz-linear-gradient(top,  #f2f9fe 0%, #d6f0fd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f9fe), color-stop(100%,#d6f0fd));
	background: -webkit-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%);
	background: -o-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%);
	background: -ms-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%);
	background: linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 );
	-webkit-box-shadow: 1px 1px 5px 1px #78B1D9 inset;
	-moz-box-shadow: 1px 1px 5px 1px #78B1D9 inset;
	box-shadow: 1px 1px 5px 1px #78B1D9 inset;
	border:1px solid #ccc;
}

#chart_wrap {
	background: rgba(0,0,0,0.1);
	width:512px;
	height:100px;
	margin:0 auto;
}

.byte_bar {
	width:2px;
	height:100px;
	float:left;
}
.byte_bar_inner {
	width:2px;
	height:0px;
	margin-top:100px;
	background: #fff;
}