
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	<meta charset="utf-8">
<title>Binding Functions in AngularJS Directives</title>
<meta name="description" content="Binding Functions in AngularJS Directives">
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="shortcut icon" href="/favicon.ico" />
	<meta name="author" content="Andy Shora">
	<link rel="author" href="https://plus.google.com/115209922186713310205/posts"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<script src="http://andyshora.blob.core.windows.net/assets/modernizr-min.js"></script>
	<!--[if lt IE 9]>
	<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
	<script src="js/html5shiv.js" type="text/javascript"></script>
	<![endif]-->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://andyshora.blob.core.windows.net/assets/prettify.js"></script>

	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<!--[if lt IE 7 ]><script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})});</script><![endif]-->

</head>
<body>

<div id="body_wrap">

	<header class="page-header">
		<div class="page-header__title">
			<h1>Binding Functions in AngularJS Directives</h1>
			<p>When to make use of function binding in AngularJS directives. By <a href="#author">Andy Shora</a></p>
			<a href="/">&larr; back to andyshora.com</a> | <a class="twitter-share-button-placeholder" data-via="andyshora">Tweet this article<i class="icon icon-twitter"></i></a>
		</div>
		<div class="header_twitter"><a href="http://twitter.com/andyshora" title="Follow me on Twitter @andyshora"></a></div>
	</header>

	<div class="page-article" ng-app="functionsDemoApp">
		<section>
			<p>You're probably already familiar with the concept of binding objects (=) and strings (@) to AngularJS directives, allowing the directive access to some variables in the parent scope. An interesting third option is the ability to bind functions (&amp;) from the parent module, meaning they can be executed when some event occurs in the child directive.</p>
			<p>Binding functions is really useful for certain components, and in this article I'm going to run through some examples of when and when not to make use of binding functions in your directives.</p>
		</section>
		<section>
			<h2>Example 1: A Message Dialog Directive</h2>
			<p>I've created a simple dialog box, which takes two parameters:</p>
			<ul>
				<li>
					<strong><i>message</i></strong> (string) - the message to be displayed in the dialog.
				</li>
				<li>
					<strong><i>open</i></strong> (object) - a boolean variable specifying whether the dialog should be open or closed.
				</li>
				<li>
					<strong><i>onOpen</i></strong> (function) - the function to be executed within the parent scope (Demo1Ctrl) when the dialog is opened.
				</li>
				<li>
					<strong><i>onClose</i></strong> (function) - the function to be executed within the parent scope (Demo1Ctrl) when the dialog is closed/dismissed.
				</li>
			</ul>
			<p>The dialog is opened by changing the value of $scope.dialogOpen to <i>true</i> in the parent scope. You can see that this variable is bound to the dialog's $scope.open, which in turn controls whether the component is shown via the <i>ng-show</i> directive on the dialog component's root node.</p>
		</section>
		<section>
			<h2>Code</h2>
			<pre class="prettyprint lang-js">
// init angular app on this page
var app;
(function() {
  'use strict';
  app = angular.module('functionsDemoApp', []);

  app.directive('dialog', function () {
      return {
        template: '<div class="demo-dialog" ng-show="open"><h3>{{message}}</h3><button ng-click="_onCloseClicked()">Close</button></div>',
        restrict: 'AE',
        scope: {
          open: '=',
          message: '@',
          onOpen: '&',
          onClose: '&'
        },
        link: function($scope) {
          $scope.$watch('open', function(open) {
            console.log('open change -> ', open);
            if (open) {
              // execute function bound from the parent scope
              $scope.onOpen();
            } else {
              // execute function bound from the parent scope
              $scope.onClose();
            }
          });

          // the reason for this extra internal function
          // is so we can close the dialog
          // before the parent function is triggered
          $scope._onCloseClicked = function() {
            $scope.open = false;
            $scope.onClose();
          };
        }
      };
    })
  .controller('Demo1Ctrl', function ($scope) {

    var _defaultMessage = 'Click the button to open the dialog';
    $scope.globalMessage = _defaultMessage;

    $scope.dialogOpen = false;
    $scope.dialogMessage = 'This is the dialog message!';

    $scope.showDialog = function() {
      $scope.dialogOpen = true;
    };

    $scope.onDialogOpen = function() {
      console.log('onDialogOpen -> ');
      $scope.globalMessage = 'The dialog is now open. Close it to see the onClose function execute the function bound to it from the parent scope!';
    };
    $scope.onDialogClose = function() {
      $scope.globalMessage = _defaultMessage + ' - this update was triggered from the directive!';
    };
  });

})();
			</pre>

		</section>
		<section>

			<h2>Demo</h2>
			<div class="demo-wrapper" ng-controller="Demo1Ctrl">
				<button ng-click="showDialog()">Show dialog</button>
				<p><i>{{globalMessage}}</i></p>
				<dialog
					open="dialogOpen"
					message="{{dialogMessage}}"
					on-open="onDialogOpen()"
					on-close="onDialogClose()"></dialog>
			</div>

		</section>
		<section>

			<h2>Tips for when to bind functions to directives</h2>
			<ul>
				<li>
					<h4>We use function binding to keep our directives ambiguous and reusable. Directives need to stay dumb!</h4>
					<p>A dialog directive should not be at all concerned with how it's being used, it just does it's job by opening, showing a message, and closing. It provides 'hooks' on the open/close interactions so the parent can decide what logic should execute next.</p>
				</li>
				<li>
					<h4>Always call an event handler on the directive's scope first, from events triggered from within the template.</h4>
					<p>It's good practice to always call a function in the current controller, as opposed to specifying the bound function directly in the template. In the example above, I call <i>_onCloseClicked()</i> before calling the bound function, because I actually need to close the dialog first.</p>
					<p>By reading the name of the event handlers, you should be able to tell exactly what type of control is calling them and what the interaction was without even looking at the template.</p>
					<p>For naming conventions, I normal prefix event handlers with an underscore, and name them like <i>_on&lt;ControlName&gt;&lt;Action&gt;</i>. Some more examples: <i>_onSliderDragStart, _onCheckboxClicked, _onCarouselSwipedLeft</i>.</p>
				</li>
			</ul>

			<h2>Here's when NOT to bind functions to directives</h2>
			<p>Please don't get used to doing any of the following 'anti-patterns':</p>
			<ul>
				<li>
					<h4>Don't assume that a function will get called.</h4>
					<p>What if the user never closes the dialog? What if they find another clever way of closing it without it triggering the <i>onClose</i> function? Make sure your parent controller can recover even in the event of the child directive failing.</p>
				</li>
			</ul>

		</section>
	</div>

</div>
<div class="author-wrap" id="author">
	<section class="author">
		<div class="author__pic"></div>
		<div class="author__desc">
			<p>Hi, I'm <strong>Andy Shora</strong>. I'm a <strong>Frontend Web Developer</strong> based in London and I currently work with some very talented people over at <a href="http://www.rga.com">R/GA</a>.</p>
			<div class="author__links">
				<a class="author__link" href="http://twitter.com/andyshora"><i class="icon-twitter"></i> andyshora</a>
				<a class="author__link" href="http://www.facebook.com/andyshora"><i class="icon-facebook"></i> fb<span class="link__extra">.com/andyshora</span></a>
				<a class="author__link" href="http://www.pinterest.com/andyshora"><i class="icon-pinterest"></i> pinterest<span class="link__extra">.com/andyshora</span></a>
				<a class="author__link" href="http://www.github.com/andyshora"><i class="icon-github"></i> github<span class="link__extra">.com/andyshora</span></a>
				<a class="author__link" onclick="revealEmail()"><i class="icon-envelope"></i> contact<span class="link__extra"> me</span></a>
			</div>
		</div>
	</section>
</div>
<section class="comments">
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'andyshora'; // required: replace example with your forum shortname
		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			if ((window.location+'').match(/dev\./g)) return;
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
	<script type="text/javascript">

		// init angular app on this page
		var app;
		(function() {
			'use strict';
			app = angular.module('functionsDemoApp', []);

			app.directive('dialog', function () {
					return {
						template: '<div class="demo-dialog" ng-show="open"><h3>{{message}}</h3><button ng-click="_onCloseClicked()">Close</button></div>',
						restrict: 'AE',
						scope: {
							open: '=',
							message: '@',
							onOpen: '&',
							onClose: '&'
						},
						link: function($scope) {
							$scope.$watch('open', function(open) {
								console.log('open change -> ', open);
								if (open) {
									// execute function bound from the parent scope
									$scope.onOpen();
								} else {
									// execute function bound from the parent scope
									$scope.onClose();
								}
							});

							// the reason for this extra internal function
							// is so we can close the dialog
							// before the parent function is triggered
							$scope._onCloseClicked = function() {
								$scope.open = false;
								$scope.onClose();
							};
						}
					};
				})
			.controller('Demo1Ctrl', function ($scope) {

				var _defaultMessage = 'Click the button to open the dialog';
				$scope.globalMessage = _defaultMessage;

				$scope.dialogOpen = false;
				$scope.dialogMessage = 'This is the dialog message!';

				$scope.showDialog = function() {
					$scope.dialogOpen = true;
				};

				$scope.onDialogOpen = function() {
					console.log('onDialogOpen -> ');
					$scope.globalMessage = 'The dialog is now open. Close it to see the onClose function execute the function bound to it from the parent scope!';
				};
				$scope.onDialogClose = function() {
					$scope.globalMessage = _defaultMessage + ' - this update was triggered from the directive!';
				};
			});

		})();

		$(document).ready(function() {

			$('.twitter-share-button-placeholder').bind('mouseover', function() {
				enableShareButton($(this));
			});

			if (Modernizr.touch) {
				enableShareButton($('.twitter-share-button-placeholder'));
			}



			window._gaq = [['_setAccount','UA-17716290-10'],['_trackPageview'],['_trackPageLoadTime']];
			Modernizr.load({
			load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
			});

			prettyPrint();
		});



		function enableShareButton(elm) {

				elm.addClass('twitter-share-button')
					.removeClass('twitter-share-button-placeholder')
					.attr('href', 'https://twitter.com/share')
					.unbind('click');

				!function(d,s,id){
					var js,
					fjs=d.getElementsByTagName(s)[0],
					p=/^http:/.test(d.location)?'http':'https';

					if(!d.getElementById(id)){
						js=d.createElement(s);
						js.id=id;
						js.src=p+'://platform.twitter.com/widgets.js';
						fjs.parentNode.insertBefore(js,fjs);
					}
				}(document, 'script', 'twitter-wjs');

		}
		function revealEmail() {
			alert('andyshora' + '@gmail.com');
		}
	</script>

<!-- footer -->
<footer>
	<p>Andy Shora &copy; 2013</p>
</footer>
<!-- end footer -->
</body>
</html>
