/* ARTICLE: function binding angularjs */
.demo-wrapper {
	padding: 10px;
	border: 1px solid grey;
	margin: 20px 0;
}
.demo-dialog {
	background: white;
	padding: 10px;
	text-align: center;
	border: 1px solid green;
	margin: 20px 0 0;

	> h3 {
		text-align: center;
		margin: 10px auto;
	}
}

.wallop-demo {
	border: none;

	p {
		text-align: center;
	}
}
.wallop-slider {
	text-align: center;
}
.wallop-slider__btn {
	background: black;
	color: white;
	border: none;
	padding: 10px 15px;
	margin-bottom: 10px;
}
