<div class="author-wrap author2-wrap" id="author2">
	<section class="author">
		<div class="author__pic author__pic-pedro"></div>
		<div class="author__desc">
			<p>This is <strong>Pedro Duarte</strong>, he's a Frontend Developer at <a href="http://www.rga.com">R/GA London</a>, and an expert in CSS. You can follow him <a href="http://twitter.com/peduarte">@peduarte</a>.</p>
			<div class="author__links">
				<a class="author__link" href="http://twitter.com/peduarte"><i class="icon-twitter"></i> peduarte</a>
				<a class="author__link" href="http://www.pedroduarte.me/">pedroduarte.me</a>
			</div>
		</div>
	</section>
</div>


