<div class="author-wrap author2-wrap" id="author2">
	<section class="author">
		<div class="author__pic author__pic-wilf"></div>
		<div class="author__desc">
			<p>Hi, I'm <strong>Wilf Eddings</strong>. I'm a <strong>Visual Designer</strong> based in London and I currently work with some very talented people over at <a href="http://www.rga.com">R/GA</a>.</p>
			<div class="author__links">
				<a class="author__link" href="http://twitter.com/iamwilf"><i class="icon-twitter"></i> iamwilf</a>
				<a class="author__link" href="http://lukeandwilf.com/">lukeandwilf.com</a>
				<a class="author__link" href="http://www.facebook.com/wilf.eddings"><i class="icon-facebook"></i> fb<span class="link__extra">.com/wilf.eddings</span></a>
			</div>
		</div>
	</section>
</div>


