<div class="author-wrap author2-wrap" id="author2">
	<section class="author">
		<div class="author__pic author__pic-wilf"></div>
		<div class="author__desc">
			<p>Illustrations by <strong>Wilf Eddings</strong>. You can find him <a href="http://twitter.com/iamwilf">@iamwilf</a> or at <a href="http://www.rga.com">R/GA</a>.</p>
			<div class="author__links">
				<a class="author__link" href="http://twitter.com/iamwilf"><i class="icon-twitter"></i> iamwilf</a>
				<a class="author__link" href="http://lukeandwilf.com/">lukeandwilf.com</a>
			</div>
		</div>
	</section>
</div>


