	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="shortcut icon" href="/favicon.ico" />
	<meta name="author" content="Andy Shora">
	<link rel="author" href="https://plus.google.com/115209922186713310205/posts"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<script src="assets/js/modernizr-min.js"></script>
	<!--[if lt IE 9]>
	<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
	<script src="js/html5shiv.js" type="text/javascript"></script>
	<![endif]-->

	<script src="assets/js/jquery-1.9.1.min.js"></script>
	<script src="assets/js/prettify.js"></script>

	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<!--[if lt IE 7 ]><script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})});</script><![endif]-->

</head>
<body>
